    #labelTitle{
        -fx-font-size: 18px;
        -fx-font-weight: 800;
    }

    AnchorPane{
        -fx-background-color: #F9F9F9;
    }
    .backgroundColor{
        -fx-background-color: #2b3b50;
    }

    * {
        -fx-secondary-color: #f2f3f6;
        -fx-grey-color: #b9b9b9;
        -fx-focus-color: -fx-secondary-color;
    }

    .text-field {
        -fx-background-color: -fx-grey-color, white;
        -fx-background-insets: 0, 0 0 1 0;
        -fx-background-radius: 5px;
    }

    .button {
        -fx-font-family: "Arial";
        -fx-padding: 10px 20px;
        -fx-cursor: hand;
        -fx-transition: 0.3s;
        -fx-background-radius: 20px;
    }

    .button:hover {
        -fx-scale-x: 1.1;
        -fx-scale-y: 1.1;
        -fx-opacity: 0.9;
    }
